In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
#import libraries

In [7]:
df = pd.read_csv("C:/Users/Shraddha Nandagave/Downloads/UNZIP_FOR_NOTEBOOKS_V5/v5/08-Linear-Regression-Models/Advertising.csv")
# Read csv file

In [8]:
df.head(8)
#display table data

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2

In [21]:
X = df.drop('sales',1)
#X is data
#y is result

In [22]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [11]:
y=df['sales']

In [23]:
y
# result

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [28]:
from sklearn.preprocessing import PolynomialFeatures
# importing sklearn

In [31]:
polynomial_converter = PolynomialFeatures(degree=2, include_bias=0)
# specifying degree and bias

In [48]:
polynomial_converter.fit(X)
# to fit

PolynomialFeatures(include_bias=0)

In [49]:
ConvertedArray = polynomial_converter.transform(X)
# to calculate values of polynomial equation
# with variables as columns and degree specified___ Ex. (TV+Radio+News paper)^degree

In [50]:
for i in range(5):
    print(ConvertedArray[i])
#to print converted array values

[2.301000e+02 3.780000e+01 6.920000e+01 5.294601e+04 8.697780e+03
 1.592292e+04 1.428840e+03 2.615760e+03 4.788640e+03]
[  44.5    39.3    45.1  1980.25 1748.85 2006.95 1544.49 1772.43 2034.01]
[  17.2    45.9    69.3   295.84  789.48 1191.96 2106.81 3180.87 4802.49]
[  151.5     41.3     58.5  22952.25  6256.95  8862.75  1705.69  2416.05
  3422.25]
[1.808000e+02 1.080000e+01 5.840000e+01 3.268864e+04 1.952640e+03
 1.055872e+04 1.166400e+02 6.307200e+02 3.410560e+03]

In [51]:
polynomial_converter1 = PolynomialFeatures(degree=1, include_bias=1)
#degree=1,
#include_bias =1 will consider value 1

In [52]:
from sklearn.model_selection import train_test_split

In [71]:
X_train, X_test, y_train, y_test = train_test_split(
...     ConvertedArray, y, test_size=0.3, random_state=101)

In [72]:
ConvertedArray.shape

(200, 9)

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
model= LinearRegression()

In [75]:
model.fit(X_train, y_train)

LinearRegression()

In [76]:
test_prediction = model.predict(X_test)

In [77]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [78]:
MAE = mean_absolute_error(y_test, test_prediction)
MAE

0.4896798044803668

In [79]:
MSE = mean_squared_error(y_test,test_prediction)
MSE

0.4417505510403548

In [80]:
RMSE = np.sqrt(MSE)
RMSE

0.664643175726912

In [82]:
model.coef_

array([ 5.17095811e-02,  1.30848864e-02,  1.20000085e-02, -1.10892474e-04,
        1.14212673e-03, -5.24100082e-05,  3.34919737e-05,  1.46380310e-04,
       -3.04715806e-05])

In [83]:
ConvertedArray[0]

array([2.301000e+02, 3.780000e+01, 6.920000e+01, 5.294601e+04,
       8.697780e+03, 1.592292e+04, 1.428840e+03, 2.615760e+03,
       4.788640e+03])